
<html>
<head>
    <%- include("partials/head", { titre : 'this is the title'})%>
</head>
    <h1 class="text-danger">Home Page</h1>
    <p>Welcome to the home page</p>
    <p>My name is <%= name %></p>
</html>